extends default

block content
  <div class="container" style="padding: 3px;">
    <hr>
    <div class="card text-truncate shadow">
    <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(137, 135, 223);padding-right: 10px;padding-left: 10px;">
    <h6 class="mb-0" style="font-size: 14px;color: rgb(217, 217, 217);"><i class="fal fa-exchange"></i> Contract Creations:</h6>
    </div>
    <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
    p <a href="/addr/#{user_addr}">#{user_addr}</a>
    <input type="button" value="<" onClick="prevPage()" id="" class="">
    <input type="button" value=">" onClick="nextPage()" id="" class="">
    <br>
    <br>
    span Page:
    span#pageNum #{page}
    <br>
    </div>
    </div>
  </div>
  <div class="container" style="padding: 3px;">
    - if (contractList.length > 0) {
      <hr>
      each data in contractList
        <div class="container" style="padding: 3px;">
          <div class="card text-truncate shadow">
          <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(211,255,234);padding-right: 10px;padding-left: 10px;">
          <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;"></i><a href="/tx/#{data.hash}" style="font-size: 14px;">#{data.hash}<br></a></p>
          </div>
          <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i><a href="/block/#{data.blocknum}">#{new Intl.NumberFormat().format(data.blocknum)}<br></a></p>
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;"></i>#{data.timestampF} (#{data.timestamp} UTC)<br></a></p>
          - if (!data.toUser) {
            span Contract Creation
          - } else {
            <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-right" style="padding-right: 5px;"></i><a href="/addr/#{data.toUser}">#{data.toUser}<br></a></p>
          - }
          <p class="card-text" style="margin-bottom: 0px;font-size: 10px;"><i class="fas fa-laptop-code" style="padding-right: 5px;"></i>#{data.value / Math.pow(10,18)} EGEM<br></p>
          </div>
          </div>
        </div>
    - } else {
      <hr>
      p No Contracts Created.
    - }
  </div>
