extends default

block content
  <div class="container" style="padding: 3px;">
    <hr>
    <div class="card text-truncate shadow">
    <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(137, 135, 223);padding-right: 10px;padding-left: 10px;">
    <h6 class="mb-0" style="font-size: 14px;color: rgb(217, 217, 217);"><i class="fal fa-exchange"></i> Blocks Mined:</h6>
    </div>
    <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
    p <a href="/addr/#{user_addr}">#{user_addr}</a>
    <input type="button" value="<" onClick="prevPage()" id="" class="">
    <input type="button" value=">" onClick="nextPage()" id="" class="">
    <br>
    <br>
    span Page:
    span#pageNum #{page}
    <br>
    </div>
    </div>
  </div>
  <div class="container" style="padding: 3px;">
    - if (blocks.length > 0) {
      <hr>
      each data in blocks
        <div class="container" style="padding: 3px;">
          <div class="card text-truncate shadow">
          <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
          <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i><a href="/block/#{data.blockNumber}" style="font-size: 14px;">#{data.blockNumber}<br></a></p>
          </div>
          <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;"></i>#{data.hash}<br></p>
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;"></i>#{data.timestampF} (#{data.timestamp} UTC)<br></p>
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;"></i>#{data.extraData}<br></p>

          </div>
          </div>
        </div>
    - } else {
      <hr>
      p No Blocks Mined.
    - }
  </div>
