extends default

block content
  <div class="container" style="padding: 3px;">
    <hr>
    <div class="card text-truncate shadow">
    <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(137, 135, 223);padding-right: 10px;padding-left: 10px;">
    <h6 class="mb-0" style="font-size: 14px;color: rgb(217, 217, 217);">
    - if (addr_code.length > 2) {
      span <i class="fal fa-exchange"></i> Contract:
    - } else {
      span <i class="fal fa-exchange"></i> Account:
    - }
    </h6>
    </div>
    <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
    p  #{user_addr}
    <p class="text-truncate" style="margin-bottom: 0px;font-size: 16px;"><i class="fab fa-slack-hash" style="padding-right: 5px;"></i>Balance: #{addr_bal / Math.pow(10,18)} EGEM ($#{new Intl.NumberFormat().format((addr_bal / Math.pow(10,18) * priceInfo).toFixed(5))} USD)<br></p>
    each thing in user_data
      p(class="text-truncate" style="margin-bottom: 0px;font-size: 14px;") &nbsp;
       | #{new Intl.NumberFormat().format(thing.minedblocks)} Mined,
       | #{new Intl.NumberFormat().format(thing.mineduncles)} Uncles,
       | #{new Intl.NumberFormat().format(thing.contracts)} Contracts,
       | #{new Intl.NumberFormat().format(thing.recv)} Recv,
       | #{new Intl.NumberFormat().format(thing.sent)} Sent.
      p(class="text-truncate" style="margin-bottom: 0px;font-size: 14px;")
       | Account First Seen: #{thing.firstseen}
    </div>
    </div>
  </div>
    <div class="container" style="padding-top: 10px;">
      small Search:<br>
      <input type="text" name="rangeInput" placeholder="" onClick="this.select();" style="width: 15%">
      small &nbsp;Limit. (100 Max)
      <br>
      <input type="text" name="pageInput" placeholder="" onClick="this.select();" style="width: 10%">
      small &nbsp;Page.
      <br>
      <br>
      span Interactions:
      <hr>
      <input type="button" value="Inbound" onClick="searchTxsIn()" id="searchTxs" class="btn-gradient">
      <input type="button" value="Outbound" onClick="searchTxsOut()" id="searchTxs" class="btn-gradient">
      <input type="button" value="Contracts" onClick="searchContracts()" id="searchTxs" class="btn-gradient">
      <input type="button" value="Blocks" onClick="searchMinedBlocks()" id="searchTxs" class="btn-gradient">
      <input type="button" value="Uncles" onClick="searchMinedUncles()" id="searchTxs" class="btn-gradient">
      <br>
      <br>
      <br>
      span Extras:
      <hr>
      - if (addr_code.length > 2) {
        <input type="button" value="Bytecode" class="btn-gradient" data-toggle="collapse" data-target="#source">

        <div id="source" class="collapse">
          <br>
          p Contract Source:
          div.container.text-break #{addr_code}
        </div>

      - }

    </div>
