extends default

block content
  each entry in blockResult
    <div class="container" style="padding: 3px;">
      <hr>
      <h6 style="color: rgb(130,130,130);padding-top: 0px;font-size: 14px;"><i class="fa fa-cubes" style="padding-right: 5px;"></i>Block:</h6>
      <div class="card text-truncate shadow">
      <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
      h6(class="mb-0" style="font-size: 14px;")#blockNum <i class="fas fa-cube" style="padding-right: 5px;color: rgb(209,209,209);"></i>#{entry.blockNumber}
      </div>
      <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
      <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fab fa-slack-hash" style="padding-right: 5px;color: rgb(209,209,209);"></i>Hash: #{entry.hash}<br></p>
      <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-tools" style="padding-right: 5px;color: rgb(209,209,209);"></i>Miner: <a href="/addr/#{entry.miner}">#{entry.miner}</a><br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Timstamp: #{entry.timestampF} (#{entry.timestamp} UTC)<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Extra Data: #{entry.extraData}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Parent Hash: #{entry.parentHash}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>SHA3 Uncles: #{entry.sha3Uncles}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Transaction Root: #{entry.transactionsRoot}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>State Root: #{entry.stateRoot}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Nonce: #{entry.nonce}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Difficulty: #{entry.difficulty}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Total Diff: #{entry.totalDifficulty}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Size: #{entry.size} bytes<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Gas Limit: #{entry.gasLimit}<br></p>
      <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Gas Used: #{entry.gasUsed}<br></p>
      </div>
      </div>
    </div>
  each entry in blockResult
    - if (entry.transactions.length > 0) {
    <div class="container" style="padding: 3px;">
      <div class="card text-truncate shadow">
      <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
      <h6 class="mb-0" style="font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i>Transactions: (#{entry.transactions.length})<br></h6>
      </div>
      <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
      each tx in txlist
        <p class="card-text" style="margin-bottom: 0px;font-size: 12px;"> <a href="/tx/#{tx}">#{tx}</a> </p>
      </div>
      </div>
    </div>
    - }
    - if (entry.uncles.length > 0) {
    <div class="container" style="padding: 3px;">
      <div class="card text-truncate shadow">
      <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
      <h6 class="mb-0" style="font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i>Uncles: (#{entry.uncles.length})<br></h6>
      </div>
      <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
      each uncle in unclelist
        <p class="card-text" style="margin-bottom: 0px;font-size: 12px;"> <a href="/uncle/#{uncle}">#{uncle}</a> </p>
      </div>
      </div>
    </div>
    - }
  <div class="container" style="padding: 10px;">
  <button class="btn btn-primary" type="button" onClick="prevBlock()">&lt;</button><button class="btn btn-primary" type="button" onClick="nextBlock()">&gt;</button>
  </div>
