extends default

block content
  <hr>
  <div class="card shadow">
  <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
  <h6 class="mb-0" style="font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i>Contracts<br></a></h6>
  </div>
  <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
    p Sorted by the balance they hold.
    table.table
      thead
        tr
          th(style="width:45%") Address
          th(style="width:20%") Amount
          th(style="width:15%") (%)
          th(style="width:20%") Value (Usd)
      tbody
        each result,i in richlist
          tr
            td(style="word-break:break-all;") <a href="/addr/#{result.address}">#{result.address}</a>
            td(style="word-break:break-all;") #{new Intl.NumberFormat().format(result.bal)} EGEM
            td(style="word-break:break-all;") (#{Number(result.bal / supInfo * 100).toFixed(2)} %)
            td(style="word-break:break-all;") $#{new Intl.NumberFormat().format(result.bal * priceInfo)}
  </div>
  </div>
  <br>
  span Page:
  span#pageNum #{page}<br>
  <br>
  <button class="btn btn-primary" type="button" onClick="prevPage()">&lt;</button><button class="btn btn-primary" type="button" onClick="nextPage()">&gt;</button>
