extends default

block content
  <div class="container" style="padding: 3px;">
    <hr>
    small F.a.q
    <div class="container" style="padding: 3px;">
      <div class="card text-truncate shadow">
      <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(211,255,234);padding-right: 10px;padding-left: 10px;">
      <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;">How can i get my contract data on explorer?</a></p>
      </div>
      <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
      <p>Submit a pull request to the main repo with the contracts ABI and wait for it to be approved.</p>
      </div>
      </div>
    </div>
  </div>
