extends default

block content
    <hr>
    small <i class="fal fa-link"></i>&nbsp;
    <span title="Current chain head.">
    span.statsfront #{new Intl.NumberFormat().format(chainHead)} &nbsp;
    </span>
    each entry in chainInfo
      small <i class="fal fa-cubes"></i>&nbsp;
      <span title="Currently synced blocks.">
      span.statsfront <a href="/block/#{entry.blocks}">#{new Intl.NumberFormat().format(entry.blocks)}</a> &nbsp;
      </span>
      small <i class="fal fa-parachute-box"></i>&nbsp;
      <span title="Estimated supply based on accounts.">
      span.statsfront #{new Intl.NumberFormat().format(entry.supply)} &nbsp;
      </span>
      small <i class="fal fa-users"></i>&nbsp;
      <span title="Known user accounts">
      span.statsfront #{new Intl.NumberFormat().format(entry.accounts)} &nbsp;
      </span>
      small <i class="fal fa-computer-classic"></i>&nbsp;
      <span title="Known contracts on network">
      span.statsfront #{new Intl.NumberFormat().format(entry.contracts)} &nbsp;
      </span>
      small <i class="fal fa-exchange"></i>&nbsp;
      <span title="Total Transactions">
      span.statsfront #{new Intl.NumberFormat().format(entry.transactions)} &nbsp;
      </span>
      small <i class="fal fa-clone"></i>&nbsp;
      <span title="Block uncles">
      span.statsfront #{new Intl.NumberFormat().format(entry.uncles)} &nbsp;
      </span>
      small <i class="fal fa-hand-holding-usd"></i>&nbsp;
      <span title="Current market price.">
      span.statsfront $#{(entry.price).toFixed(6)} &nbsp;
      </span>
      small <i class="fal fa-hands-usd"></i>&nbsp;
      <span title="Market cap based on price and supply.">
      span.statsfront $#{(entry.price * entry.supply).toFixed(5)}
      </span>
      <br>
    <hr>
    p <i class="fal fa-cubes"></i> Latest Blocks:
    - if (lastBlocks.length > 0) {
      table.table.table-striped
        thead
          tr
            th Block
            th Hash
            th Miner
            th Timestamp
        tbody
          each entry in lastBlocks
            tr
              td <i class="fad fa-cubes"></i> <a href="/block/#{entry.blockNumber}">#{new Intl.NumberFormat().format(entry.blockNumber)}</a>
              td <i class="fad fa-hashtag"></i> #{entry.hash}
              td <i class="fad fa-digging"></i> <a href="/addr/#{entry.miner}">#{entry.miner}</a>
              td <i class="fad fa-stopwatch"></i> #{entry.timestamp} (UTC)
    -}
    p <i class="fal fa-exchange"></i> Latest Transactions:
    - if (lastTxs.length > 0) {
      table.table.table-striped.w-auto
        thead
          tr
            th Hash
            th Block
            th From
            th To
            th Amount
            th Value (Usd)
        tbody
          each entry in lastTxs
            tr
              td <i class="fad fa-hashtag"></i> <a href="/tx/#{entry.hash}">#{entry.hash}</a>
              td <i class="fad fa-cubes"></i> <a href="/block/#{entry.blocknum}">#{new Intl.NumberFormat().format(entry.blocknum)}</a>
              td <a href="/addr/#{entry.fromUser}">#{entry.fromUser}</a>
              td <a href="/addr/#{entry.toUser}">#{entry.toUser}</a>
              td <i class="fad fa-tally"></i> #{entry.value / Math.pow(10,18)} EGEM
              td <i class="fad fa-money-bill-wave"></i> $#{((entry.value / Math.pow(10,18)) * priceInfo).toFixed(5)} USD
    -}
