extends default

block content
  include ../header.pug
  <div class="container">
    <hr>
    <h6 style="color: rgb(130,130,130);padding-top: 0px;font-size: 14px;"><i class="fa fa-cubes" style="padding-right: 5px;"></i>Blocks:</h6>
    </div>
    each entry in lastBlocks
      <div class="container" style="padding: 3px;">
        <div class="card text-truncate shadow">
        <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
        <h6 class="mb-0" style="font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;color: rgb(209,209,209);"></i><a href="/block/#{entry.blockNumber}">#{new Intl.NumberFormat().format(entry.blockNumber)}<br></a></h6>
        </div>
        <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fab fa-slack-hash" style="padding-right: 5px;color: rgb(209,209,209);"></i>Hash: #{entry.hash}<br></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-tools" style="padding-right: 5px;color: rgb(209,209,209);"></i>Miner: <a href="/addr/#{entry.miner}">#{entry.miner}</a><br></p>
        <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Timestamp: #{entry.timestampF} (#{entry.timestamp} UTC)<br></p>
        <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>Extra Data: #{entry.extraData}<br></p>
        </div>
        </div>
      </div>
    <div class="container">
    <hr>
    <h6 style="color: rgb(130,130,130);padding-top: 0px;font-size: 14px;"><i class="fa fa-handshake-o" style="padding-right: 5px;"></i>Transactions:</h6>
    </div>
    each entry in lastTxs
      <div class="container" style="padding: 3px;">
        <div class="card text-truncate shadow">
        <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(211,255,234);padding-right: 10px;padding-left: 10px;">
        <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;color: rgb(209,209,209);"></i><a href="/tx/#{entry.hash}" style="font-size: 14px;">#{entry.hash}<br></a></p>
        </div>
        <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-cube" style="padding-right: 5px;color: rgb(209,209,209);"></i>Block: <a href="/block/#{entry.blocknum}">#{new Intl.NumberFormat().format(entry.blocknum)}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-left" style="padding-right: 5px;color: rgb(209,209,209);"></i>From: <a href="/addr/#{entry.fromUser}">#{entry.fromUser}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-right" style="padding-right: 5px;color: rgb(209,209,209);"></i>To: <a href="/addr/#{entry.toUser}">#{entry.toUser}<br></a></p>
        <p class="card-text" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-money-bill-alt" style="padding-right: 5px;color: rgb(209,209,209);"></i>Value: #{entry.value / Math.pow(10,18)} EGEM <span style="color: rgb(137, 135, 223);">($#{((entry.value / Math.pow(10,18)) * priceInfo).toFixed(5)} USD)</span><br></p>
        </div>
        </div>
      </div>
    <div class="container" style="padding: 3px;">
    <hr>
    </div>
  </div>
