extends default

block content
    <input type="button" value="<" onClick="prevPage()" id="" class="">
    <input type="button" value=">" onClick="nextPage()" id="" class="">
    <br>
    <br>
    span Page:
    span#pageNum #{page}
    <br>
    <br>
    small Richlist:
    <br>
    <hr>
    each result,i in richlist
      div.resultsBox
        span Address: <a href="/addr/#{result.address}">#{result.address}</a>
        <br>
        - var knownName = result.address
        case knownName
          when "0x63e9ceFD428D37430205c0ab8fa2a34A21F911Ac"
            span Name: Community Fund
            <br>
          when "0x87045b7BAdAc9c2dA19f5B0EE2bCeA943A786644"
            span Name: The EGEM Master (Cold Storage)
            <br>
          when "0xE3696bD9AEeC0229Bb9C98c9Cc7220Ce37852887"
            span Name: The EGEM Master (Hot Wallet)
            <br>
          when "0x09a175a1eD32B58DbBbF8E90F26b304AB5750Ebd"
            span Name: Graviex.net
            <br>
          when "0xA4191F0bAFB95717FD91FeffB517CD1017A67a14"
            span Name: STEX
            <br>
          when "0x11905bD0863BA579023f662d1935E39d0C671933"
            span Name: Comining.io
            <br>
          default
            span Name: Not Known
            <br>
        span Amount: #{new Intl.NumberFormat().format(result.bal)} EGEM (#{Number(result.bal / supInfo * 100).toFixed(2)} %)
        <br>
        span Value: $#{new Intl.NumberFormat().format(result.bal * priceInfo)} USD
        <br>
        span Rank: #{i + 1 + offset}
    <br>
    <input type="button" value="<" onClick="prevPage()" id="" class="">
    <input type="button" value=">" onClick="nextPage()" id="" class="">
