extends default

block content
    each entry in txData
      <div class="container" style="padding: 3px;">
        <hr>
        <h6 style="color: rgb(130,130,130);padding-top: 0px;font-size: 14px;"><i class="fa fa-handshake-o" style="padding-right: 5px;"></i>Transaction:</h6>
        <div class="card text-truncate shadow">
        <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(211,255,234);padding-right: 10px;padding-left: 10px;">
        <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;color: rgb(209,209,209);"></i><a href="/tx/#{entry.hash}" style="font-size: 14px;">#{entry.hash}<br></a></p>
        </div>
        <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;color: rgb(209,209,209);"></i>Block: <a href="/block/#{entry.blocknum}">#{new Intl.NumberFormat().format(entry.blocknum)}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Timestamp: #{entry.timestampF} (#{entry.timestamp} UTC)<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-left" style="padding-right: 5px;color: rgb(209,209,209);"></i>From: <a href="/addr/#{entry.fromUser}">#{entry.fromUser}<br></a></p>
        - if (!entry.toUser) {
          <br>
          span Contract Creation:  <a href="/addr/#{tx_reciept.contractAddress}">#{tx_reciept.contractAddress}</a>
          <hr>
        - } else {
          <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-right" style="padding-right: 5px;color: rgb(209,209,209);"></i>To: <a href="/addr/#{entry.toUser}">#{entry.toUser}<br></a></p>
        - }

        <p class="card-text" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-money-bill-alt" style="padding-right: 5px;color: rgb(209,209,209);"></i>Value: #{entry.value / Math.pow(10,18)} EGEM ($ #{((entry.value / Math.pow(10,18)) * priceInfo).toFixed(5)} USD)<br></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Max Txn Cost/Fee: #{(entry.gasPrice * entry.gas)/Math.pow(10,18)} EGEM ($ #{((entry.gasPrice * entry.gas)/Math.pow(10,18) * priceInfo).toFixed(8)} USD)<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Gas Price: #{entry.gasPrice} Wei<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Gas: #{entry.gas}<br></a></p>

        - if( entry.inputData0.length > 4) {
          <hr>
          span Raw:
          p.container.text-wrap #{entry.inputData0}
        - } else {
          <hr>
          span Input Data:
          p.container.text-wrap #{entry.inputData0}
        - }

        </div>
        </div>
      </div>
