extends default

block content
    <hr>
    span Recent Uncles:
    <br>
    <br>
    each data in unclelist
      <div class="container" style="padding: 3px;">
        <div class="card text-truncate shadow">
        <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(180,237,255);padding-right: 10px;padding-left: 10px;">
        <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;"></i>#{data.hash}<br></p>
        </div>
        <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;"></i>Block: <a href="/block/#{data.blockNumber}">#{new Intl.NumberFormat().format(data.blockNumber)}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;"></i>Timestamp: #{data.timestampF} (#{data.timestamp} UTC)<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-tools" style="padding-right: 5px;"></i>Miner: <a href="/addr/#{data.miner}">#{data.miner}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;"></i>Extra Data: #{data.extraData}<br></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;"></i>Difficulty: #{data.difficulty}<br></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;"></i>Gas Limit: #{data.gasLimit}<br></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;"></i>Gas Used: #{data.gasUsed}<br></p>
        </div>
      </div>
      </div>
    <br>
    span Page:
    span#pageNum #{page}<br>
    <br>
    <button class="btn btn-primary" type="button" onClick="prevPage()">&lt;</button><button class="btn btn-primary" type="button" onClick="nextPage()">&gt;</button>
