extends default

block content
    each entry in uncleResult
      <div class="container" style="padding: 3px;">
        <hr>
        <h6 style="color: rgb(130,130,130);padding-top: 0px;font-size: 14px;"><i class="fas fa-shovel" style="padding-right: 5px;"></i>Uncle:</h6>
        <div class="card text-truncate shadow">
        <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(211,255,234);padding-right: 10px;padding-left: 10px;">
        <p class="text-truncate" style="margin-bottom: 0px;height: 20px;font-size: 14px;"><i class="fab fa-slack-hash" style="padding-right: 5px;color: rgb(209,209,209);"></i><a href="/tx/#{entry.hash}" style="font-size: 14px;">#{entry.hash}<br></a></p>
        </div>
        <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 14px;"><i class="fas fa-cube" style="padding-right: 5px;color: rgb(209,209,209);"></i>Block: <a href="/block/#{entry.blockNumber}">#{new Intl.NumberFormat().format(entry.blockNumber)}<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-clock" style="padding-right: 5px;color: rgb(209,209,209);"></i>Timestamp: #{entry.timestampF} (#{entry.timestamp} UTC)<br></a></p>
        <p class="text-truncate" style="margin-bottom: 0px;font-size: 12px;"><i class="fas fa-arrow-left" style="padding-right: 5px;color: rgb(209,209,209);"></i>Miner: <a href="/addr/#{entry.miner}">#{entry.miner}<br></a></p>
        <p class="card-text" style="margin-bottom: 3px;font-size: 12px;"><i class="fas fa-database" style="padding-right: 5px;color: rgb(209,209,209);"></i>#{entry.extraData}<br></p>

        </div>
        </div>
      </div>
