<div class="footer-clean" style="padding-bottom: 0px;padding-top: 0px;">
    <footer style="color: rgb(0,0,0);background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Visit</h3>
                    <ul>
                        <li><a href="https://egem.io/">Website</a></li>
                        <li><a href="https://wiki.egem.io/">Wiki</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li></li>
                        <li><a href="/faq">Faq</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Issues</h3>
                    <ul>
                        <li><a href="https://gitlab.com/ethergem/egem-blockvis/-/issues">Report Bug</a></li>
                        <li><a href="https://gitlab.com/ethergem/egem-blockvis/-/merge_requests">Submit PR</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                  <a href="https://discord.egem.io"><i class="fab fa-discord"></i></a>
                  <a href="https://twitter.com/EtherGemCoin"><i class="icon ion-social-twitter"></i></a>
                  <a href="https://youtube.com/c/egemofficial"><i class="icon ion-social-youtube"></i></a>
                  <p class="copyright">EtherGem Community © 2018</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/megamenu-dark.js"></script>
<script src="https://kit.fontawesome.com/8ec3a22f04.js" crossorigin="anonymous"></script>
