<div class="container" style="padding: 3px;">
  <hr>
  <div class="card text-break text-center shadow">
  <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;background-color: rgb(137, 135, 223);padding-right: 10px;padding-left: 10px;">
  <h6 class="mb-0" style="font-size: 14px;color: rgb(217, 217, 217);"><i class="fas fa-binoculars" style="padding-right:5px;"></i>Chain Info:<br></a></h6>
  </div>
  <div class="card-body" style="padding-top: 6px;padding-bottom: 6px;padding-left: 10px;padding-right: 10px;background-color: #ffffff;">
    each entry in chainInfo
      <span class="text-break" style="font-size: 14px;">
        | <span title="Chain Head"><i class="fal fa-cubes"></i>#{new Intl.NumberFormat().format(chainHead)}&nbsp;&nbsp;</span>
        | <span title="Currently Synced Blocks"><i class="fal fa-cubes"></i> <a href="/block/#{entry.blocks}">#{new Intl.NumberFormat().format(entry.blocks)}</a>&nbsp;&nbsp;</span>
        | <span title="Est. Current Supply"><i class="fal fa-parachute-box"></i> #{new Intl.NumberFormat().format(entry.supply)}&nbsp;&nbsp;</span>
        | <span title="User Accounts"><i class="fal fa-users"></i> <a href="/richlist/limit/50/page/1">#{new Intl.NumberFormat().format(entry.accounts)}</a>&nbsp;&nbsp;</span>
        | <span title="Contracts Created"><i class="fal fa-computer-classic"></i> <a href="/contracts/limit/50/page/1">#{new Intl.NumberFormat().format(entry.contracts)}</a>&nbsp;&nbsp;</span>
        | <span title="Total Transactions"><i class="fal fa-exchange"></i> #{new Intl.NumberFormat().format(entry.transactions)}&nbsp;&nbsp;</span>
        | <span title="Total Uncles Mined"><i class="fal fa-clone"></i> <a href="/uncles/limit/5/page/1">#{new Intl.NumberFormat().format(entry.uncles)}</a>&nbsp;&nbsp;</span>
        | <span title="Current Price USD"><i class="fal fa-hand-holding-usd"></i> $#{(entry.price).toFixed(6)}&nbsp;&nbsp;</span>
        | <span title="Total Market Cap USD"><i class="fal fa-hands-usd"></i> $#{(entry.price * entry.supply).toFixed(5)}</span>
      </span>
  </div>
  </div>
</div>
