<nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
    <div class="container"><img class="jello animated" src="/images/32x32.png" style="padding: 0px;padding-bottom: 3px;"><a class="navbar-brand" href="/">EtherGem BlockVis</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/"><i class="fas fa-home" style="padding-right:5px;"></i>Home</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Explore</a>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" role="presentation" href="/richlist/limit/50/page/1"><i class="fas fa-sack-dollar" style="padding-right:5px;"></i>Richlist</a>
                      <a class="dropdown-item" role="presentation" href="/contracts/limit/50/page/1"><i class="fas fa-clipboard-list-check" style="padding-right:5px;"></i>Contracts</a>
                      <a class="dropdown-item" role="presentation" href="/blocks/limit/10/page/1"><i class="fas fa-cubes" style="padding-right:5px;"></i>Blocks</a>
                      <a class="dropdown-item" role="presentation" href="/uncles/limit/10/page/1"><i class="fas fa-check-double" style="padding-right:5px;"></i>Uncles</a>
                    </div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/faq"><i class="fas fa-question-circle" style="padding-right:5px;"></i>Faq</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="">Social</a>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" role="presentation" href="https://discord.egem.io/"><i class="fab fa-discord" style="padding-right:5px;"></i>Discord</a>
                      <a class="dropdown-item" role="presentation" href="https://twitter.com/EtherGemCoin"><i class="fab fa-twitter-square" style="padding-right:5px;"></i>Twitter</a>
                      <a class="dropdown-item" role="presentation" href="https://youtube.com/c/egemofficial"><i class="fab fa-youtube-square" style="padding-right:5px;"></i>Youtube</a>
                    </div>
                </li>
            </ul>
            include ./search.pug
    </div>
    </div>
</nav>
