<div class="form-inline my-2 my-lg-0">
  <input class="form-control-sm mr-sm-2" type="text" name="mainInput" id="searchEnter" placeholder="Lookup entry." aria-label="Search">
  <input type="button" value="Find" class="btn btn-sm btn-outline-secondary my-2 my-sm-0" id="searchIt" onClick="searchBar()">
</div>

<script type="text/javascript">searchEnter();</script>
