html span,p,small {
   font-size: 1.0em !important;
   font-family: 'Nokora' !important;
}

/* Main Containers: */

.headerMain{
  margin: auto;
  width: 80%;
  text-align: center;
}

.containerMain{
  margin: auto;
  width: 85%;
  border-radius: 3px;
  padding: 20px;
  color: grey;
}

.footerMain{
  margin: auto;
  width: 80%;
  text-align: center;
}

/* Main Menu: */
.mainMenu{
  margin: auto;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.mainMenu a {
  text-decoration: none;
  padding: 5px;
  color: grey;
}

/* Front stats: */

.statsfront {
  color: #8987DF;
}

.statsfront a {
  color: #8987DF;
}

/* Account Results: */

.addrcode {
  color: black;
  background-color: white;
  border: 1px dotted grey;
  border-radius: 5px;
  word-wrap: break-word;
  width: 99%;
  padding: 3px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.resultsBoxAccount{
  word-wrap: break-word;
  border: 1px dotted grey;
  border-left: 5px solid #8269D8;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 10px;
  background: white;
  color: black;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e9f6fd+0,d3eefb+100;Blue+3D+%233 */
  background: rgb(233,246,253); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(211,238,251,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */
}

.resultsBoxAccount a{
  color: #8987DF;
}

.resultsBoxAccount a:hover{
  color: grey;
}

/* Transaction Results: */


/* Block Results: */


/* Richlist Results: */


/* Results Box: */

.resultsBox{
  word-wrap: break-word;
  border: 1px dotted grey;
  border-left: 5px solid #8269D8;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 10px;
  background: white;
  color: black;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e9f6fd+0,d3eefb+100;Blue+3D+%233 */
  background: rgb(233,246,253); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(211,238,251,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */
}

.resultsBox p{
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultsBox a{
  color: #8987DF;
}

.resultsBox a:hover{
  color: grey;
}

/* Misc: */

small,span i {
  color: #8987DF;
}

.transactionBox {
  border: 1px solid grey;
  border-left: 3px solid #66ff33;
  border-radius: 3px;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uncleBox {
  border: 1px solid grey;
  border-left: 3px solid #ff33cc;
  border-radius: 3px;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.richlist-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  table-layout: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.richlist-table thead tr {
  background-color: #8987DF;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.richlist-table th,
.richlist-table td {
  padding: 12px 15px;
}

.richlist-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.richlist-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.richlist-table tbody tr:last-of-type {
  border-bottom: 2px solid #8987DF;
}

.richlist-table tbody tr.active-row {
  font-weight: bold;
  color: #8987DF;
}

.contracts-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  table-layout: auto;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contracts-table thead tr {
  background-color: #8987DF;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.contracts-table th,
.contracts-table td {
  padding: 12px 15px;
}

.contracts-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contracts-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contracts-table tbody tr:last-of-type {
  border-bottom: 2px solid #8987DF;
}

.contracts-table tbody tr.active-row {
  font-weight: bold;
  color: #8987DF;
}
